@model Jogador
@{
    ViewData["Title"] = "Jogadores";
}

<div class="titulo_pagina">
    <h1>cadastro de @ViewData["Title"]</h1>
</div>

<form class="cadastro" method="POST" action='@Url.Action("Cadastrar")' enctype="multipart/form-data">

    <div class="campo">
        <label for="">ID</label>
        <input type="text" name="IdEquipe" required>
    </div>

    <div class="campo">
        <label for="">Nome</label>
        <input type="text" name="Nome" required>
    </div>

    <div class="campo">
      <label for="">Email</label>
    <input type="text" name="Email" required>
    </div>
    <div class="campo">
      <label for="">Senha</label>
    <input type="text" name="Senha" required>
    </div>

    <button class="gradient btn" type="submit">Cadastrar</button>
</form>

<table>
    <thead>
        <th>ID</th>
        <th>Nome</th>
        <th>Imagem</th>
    </thead>
    <tbody>
        @foreach (Jogador j in ViewBag.Jogadores)
        {
            <tr>
                <td>@j.IdEquipe</td>
                <td>@j.Nome</td>
                <td><a asp-area="" asp-controller="Jogador" asp-action="Excluir" asp-route-id="@j.IdJogador">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>